@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  @apply bg-[#161615] text-[#fbfffb];
}

html {
  scroll-behavior: smooth;
}

.spin-svg {
  fill: currentColor;
  height: auto;
  max-width: 20%;
  transform-origin: center;
  width: 66%;
}
