@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Raleway:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.lightMode {
  background-color: #ffffff;
  color: #000000;
}

.darkMode {
  background-color: #000000;
  color: #ffffff !important;
}
